package layout

templ Base() {
        <html>
            <head>
                <title>First Page With Go+Templ And Echo</title>
            </head>
            <body>
                <h2>Base Template Header</h2>
                {children...}
                <h2>Base Template Footer</h2>
            </body>
        </html>
}